@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*, *:before, *:after {
    box-sizing:border-box;
}

body {
    padding:24px;
    font-family:'Source Sans Pro', sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

.container {
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.table {
    width:100%;
    border:1px solid #EEEEEE;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:12px 0;
}

.table-row {
    display:flex;
    width:100%;
    padding:12px 0;
    
    &:nth-of-type(odd) {
        background:#EEEEEE;
    }
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

.header__item {
    text-transform:uppercase;
}

.filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
    padding-left:24px;
    padding-right:24px;
    
    &::after {
        content:'';
        position:absolute;
        right:-18px;
        color:white;
        font-size:12px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &.desc::after {
        content: '(desc)';
    }

    &.asc::after {
        content: '(asc)';
    }
}


.tabs {
    position: relative;   
    margin: 40px auto;
    width: 600px;
  }
  
  .tab {
    float: left;
  }
  
  .tab label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px;             
  }
  
  .tab [type=radio] {
    display: none;   
  }
  
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #fff;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
          
    opacity: 0;
    z-index: -1;
  }
  
  [type=radio]:checked ~ label {
    background: #fff;
    border-bottom: 1px solid #fff;
    z-index: 2;
  }
  
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
    opacity: 1;
  }
  