/* index.css */
.main-content {
    position: relative;
}

/* Background image */
.main-content img {
    margin-top: 4%;
    width: 100%;
    height: auto;
}

.text-content {
    width: 100%; 
    height: 100%; 
}

/* Header text container */
.header-text {
    position: absolute;
    top: 100px; /* Adjust the top position as needed */
    left: 0px; /* Adjust the left position as needed */
    width: 60%;
    height: 100px;
    background: rgba(183, 79, 111, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* For an Enhanced Travel Experience */
.header-text-line1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #F3D9DC;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    word-wrap: break-word;
}

/* We help you to pre-plan and make your day more efficient by digitizing the highway bus system */
.header-text-line2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.6;
    word-wrap: break-word;
}

.middle-text-line1 {
    font-weight: 600;
    margin-top: 30px;;
    text-align: center; 
    color: #001514; 
    font-size: 48px;
    line-height: 70px; 
    word-wrap: break-word
}

#direct-btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: #ffffff;
    background-color: #0048c6;
}

#direct-btn:hover {
    background-color: #B74F6F;
    color: #fff;
}

/* Additional styles for call to action buttons */
.cta-buttons {
    display: flex; /* Display buttons in a row */
    justify-content: center; /* Center-align buttons horizontally */
    align-items: center; /* Center-align buttons vertically */
    gap: 80px; /* Adjust the gap between buttons as needed */
}

.cta-button {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FCFC62;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
    width: auto; /* Adjust the width as needed */
    white-space: nowrap;
}

.cta-button a {
    color: #001514;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    margin: 0;
}

.cta-buttons img {
    width: 170px;
    height: auto;
    max-width: 200px; /* Adjust the max-width as needed */
    max-height:200px; /* Adjust the max-height as needed */
}

.button-text{
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: #001514; 
    font-size: 24px; 
    font-weight: 600; 
    line-height: 70px; 
    word-wrap: break-word;
    order: -2;
    margin: 0;
}
.cta-button:hover {
    background-color: #B74F6F;
    color: #fff;
}

@media (max-width: 1146px){
    .header-text-line1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
    .header-text-line2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    .middle-text-line1 {
        font-weight: 600;
        margin-top: 30px;;
        font-size: 40px;
        line-height: 70px; 
    }
    .middle-text-line2 {
        font-size: 16px; 
        font-weight: 500; 
        line-height: 30px; 
    }
    .button-text{
        font-size: 20px; 
        font-weight: 600; 
        line-height: 50px; 
    }
}

@media (max-width: 920px){
    .header-text-line1 {
        font-size: 22px;
        font-weight: 600;
    }
    .header-text-line2 {
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
    }
    .header-text {
        height: 80px;
        background: rgba(183, 79, 111, 0.85);
    }
    .middle-text-line1 {
        font-weight: 600;
        margin-top: 30px;;
        font-size: 32px;
        line-height: 50px; 
    }
    .middle-text-line2 {
        font-size: 16px; 
        font-weight: 500; 
        line-height: 30px; 
    }
    .button-text{
        font-size: 18px; 
        font-weight: 600; 
        line-height: 40px; 
    }
    .cta-buttons img{
        width:130px;
        height: auto;
    }
}

@media (max-width: 700px){
    .header-text-line1 {
        font-size: 18px;
        font-weight: 500;
        line-height: 35px;
    }
    .header-text-line2 {
        font-size: 8px;
        font-weight: 300;
        line-height: 5px;
    }
    .header-text {
        height: 60px;
        background: rgba(183, 79, 111, 0.85);
    }
    .middle-text-line1 {
        font-weight: 600;
        margin-top: 20px;;
        font-size: 24px;
        line-height: 30px; 
    }
    .middle-text-line2 {
        font-size: 12px; 
        font-weight: 300; 
        line-height: 15px; 
    }
    .button-text{
        font-size: 14px; 
        font-weight: 600; 
        line-height: 30px; 
    }
}

@media (max-width: 560px){
    .header-text-line1 {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
    }
    .header-text-line2 {
        font-size: 8px;
        font-weight: 300;
        line-height: 5px;
    }
    .header-text {
        width: 100%;
        height: 50px;
        background: rgba(183, 79, 111, 0.85);
    }
    .middle-text-line1 {
        font-weight: 600;
        margin-top: 20px;;
        font-size: 24px;
        line-height: 30px; 
    }
    .middle-text-line2 {
        font-size: 12px; 
        font-weight: 300; 
        line-height: 15px; 
    }
    .cta-buttons {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        display: block; /* Display buttons in a block */
        justify-content:center; /* Center-align buttons horizontally */
    }
    .button-text{
        margin-top: 40px;
    }
}