/* userSelect.css */

/* Style for the container */
body{
    display: flexbox;
    position: relative;
}

.user-select-text{
    font-size: 50px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

.card-container {
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 10% 10%;
}

.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
    border-radius: 2rem;
}

.card{
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.card img{
    border-radius: 2rem;
    height:100%;
    width: 100%;
}

.card-front,
.card-back{
    position:absolute;
    border-radius: 2rem;
    height: 100%;
    width:100%;
    backface-visibility: hidden;
}

.card-front{
    height:auto;
    width: 100%;
}

.card-back{
    transform: rotateY(180deg);
    height:auto;
    width: 100%;
}