/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.login-subtitle, .subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form {
    align-self: center;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid $black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
    @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

.custom-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.is-invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
}

.btn-reset, .btn-submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-reset:hover, .btn-submit:hover{
    background-color: #B74F6F;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo{
    height: 80px;
    width: auto;
}
/* Additional styling as needed */
