.main-container {
  display: flex;
  gap: 20px;
}

.container {
  width: 45%; /* Adjust the width as needed */
  display: inline-block;
  vertical-align: top; /* Align containers to the top */
  margin: 10px; /* Add margin for separation */
}

#scheduler-list,
#stations-list {
  width: 100%;
  text-align: left;
  margin-right:10px;
}

.scheduler-container,
.stations-container {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.assigned-stations,
.assigned-schedulers {
  display: none;
  margin-top: 10px;
}

.popup {
  width: 40;
  background: #fff;
  position:absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1); 
  text-align: center ;
  padding: 0 30px 30px;
  color:#333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50px;
  box-shadow: - 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius:4px ;
  cursor: pointer;
  box-shadow: - 2px 5px rgba(0, 0, 0, 0.2);
}