.container {
    align-items: center;
    display:flex;
    margin-top: 5%;
    position:relative;
}

#main-image{
    width: 60%; 
    height: 70%;
}

#main-image-conductor{
    margin-left: 5%;
    width: 35%; 
    height: 50%;
}

.content {
    color: black;
    margin-left: 10%;
    width: 40%;
    height: auto;

    text-align: center;
    background: #F3D9DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
}

.login-subtitle, .subtitle {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

.custom-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.is-invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
}

.btn-reset, .btn-submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-reset:hover, .btn-submit:hover{
    background-color: #B74F6F;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo{
    height: 80px;
    width: auto;
}
/* Additional styling as needed */
